* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    font-family: Arial, sans-serif;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    height: 8vh;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #fff;
}

.logo {
    height: 40px;
    border-radius: 50%;
}

.starbucks-rewards{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:5vh;
    width: 100%;
    background-color: rgb(19, 45, 3);
    color: #fff;
}
.starbucks-rewards h3{
    padding-left: 15px;
    font-size: small;
}

.starbucks-rewards button{
    border: 2px solid white;
    color: white;
    border-radius: 20px;
    padding: 5px 15px;
    font-size:15px;
    margin-right: 30px;
}

.section1{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-image: url("../images/section-1-bg.webp");
    background-size: cover;
}
.section1 h2{
    margin-top: 30px;
    font-size: 30px;
}

.section1 h4{
    font-weight: 200;
}

.section1 button{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(10, 104, 10);
    color: white;
}

.section1 a{
    color: #000;
}

.section2, .section4, .section6{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding-bottom: 30px;
}

.section2 h2, .section4 h2, .section6 h2{
    margin-top: 60px;
}

.section2 h3, .section4 h3, .section6 h3{
    font-size: 15px;
    font-weight: 100;
    text-align: center;
}

.sec2-container, .sec4-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.text-area h3{
    text-align: left;
    font-size: 20px;
}
.text-area h4{
    font-size: 16px;
    font-weight: 100;
}
.text-area a{
    text-decoration: underline;
    color: green;
}

.number-area{
    width: 50%;
}

.number{
    width: 50px;
    height: 50px;
    border: 2px solid green;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bolder;
    color:green;
}

.section6{
    background-image: url('../images/844262945b2a8b8cfb29.webp');
    padding: 0;
}

.section6 h3 {
    padding-left: 25px;
    padding-right: 25px;
}

.section6 button{
    background-color: rgb(10, 93, 10);
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    color: #fff;
    margin-top: 25px;
}

.inner-container {
    background-color: rgb(176, 222, 201);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

.section4 img, .section6 img{
    width: 100px;
    margin-right: 20px;
}

.section3{
    background-color: rgba(238, 241, 226, 0.877);
    display: flex ;
    flex-direction: column;
    align-items: center;
}

.section4{
    padding-bottom: 30px;
}

.section3 h2{
 margin-top: 60px;
 margin-bottom: 30px;
}

.button-container{
    width: 100%;
}
.drinks{
    width: 19%;
    padding: 8px 8px 16px;
    font-size: 20px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.drink-desc h2{
    margin-top: 30px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
.drink-card h3{
    text-align: center; 
    font-weight: 500; 
    padding-left: 10px; 
    padding-right: 10px;
    font-size: 16px;
    margin-bottom: 40px;
}
.drink-card{
    background-color: rgb(176, 222, 201);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.drink-image{
    width: 100%;
}
.drink-image img{
    width: 100%;
}

.active{
    border-bottom: 3px solid green;
}

.drink-desc{
    padding: 0px;
}

.section5{
    background-color: rgb(245, 238, 230);
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}

.section5>h2{
    margin-top: 60px;
    text-align: center;
}

.section5>h3{
    margin-top: 30px;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 15px;
    font-weight: 100;
}

.card-container {
    display: flex;
    flex-direction: column;
}

.section5-card {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-left: 20px;
}
.section5-card h4{
    font-weight: 100;
    padding-top: 10px;
}
.card-item{
    display: flex;
    align-items: top;
    flex-direction: row;
    padding-top: 30px;
}
.card-item img{
    width: 100px;

}

.card5-desc {
    padding-left: 15px;
    padding-right: 15px;
}

.section7 {
    padding: 60px 15px;
}

.section7 > h2 {
    margin-bottom: 20px;
}

.section7 h3 {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 50;
}
.section7 a{
    color: green;
    text-decoration: underline;
}

.section7 h1{
    color: #aaa;
    letter-spacing: 0.1rem;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.questions-container{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 10px;
}

.dropdown-mobile{
    padding-top: 20px;
}

.dropbtn {
    font-weight: 500;
    justify-content: space-between;
    padding: 20px 30px;
    display: block;
    width: 100%;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
.dropdown {
    position: relative;
    width: 100%;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    padding-left: 15px;
    position: relative;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
.dropdown-content a {
    color: #aaa;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.show {display:block;}

.social{
    padding: 40px 10px;
    gap: 30px;
}

.social i{
    font-size: 30px;
    margin-left: 10px;
}

.social i:hover {
    color: #000;
    filter: drop-shadow(0 5px 8px rgba(0, 0, 0, 0.9));
}
.last-section{
    padding-left: 30px;
}
.last-section a{
    display: block;
    margin-top: 30px;
}

.last-section a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.copy{
    margin-left: 30px;
    margin-top: 50px;
    color:#999;
    margin-bottom: 100px;
    font-size: 14px;
}

.menu {
    margin-right: 20px;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

dialog{
    margin: 0;
    padding: 0;
}

.side-menu {
    height: 120vh;
    width: 300px;
    position: fixed;
    margin-bottom: 0px;
    z-index: 1;
    top: 0;
    left: -300px; /* Start off-screen to the left */
    background-color: #fff;
    transition: left 0.5s; /* Slide in effect */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
    border: none;
    margin: 0;
}

.menu-items.container{
    border-bottom: 5px solid #aaa;
}

.button-container{
    gap: 50px;
}
.side-menu a {
    display: block;
    padding: 20px 0;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s;
}

.side-menu a:hover {
    background-color: #f0f0f0;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 36px;
    cursor: pointer;
    background: none;
    border: none;
    color: #000;
}

.sign-in, .join-now {
    padding: 7px;
    font-size: 16px;
    margin: 7px;
    cursor: pointer;
    border: none;
    border-radius: 40px;
}

.sign-in {
    background-color: #fff;
    border: 1px solid #000;
}

.join-now {
    background-color: #000;
    color: #fff;
}

.find-store {
    display: flex;
    align-items: center;
    justify-content: left;
    color: #000;
    gap: 10px;
    margin-left: 7px;
    text-decoration: none;
    font-size: 16px;
}

.show-menu {
    left: 0; /* Slide in */
}
.desktop {
    display: none;
}

@media (max-height: 450px) {
    .side-menu {
        padding-top: 15px;
    }
    .side-menu a {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .section1{
        height: 60vh;
    }
}

/* for desktop view */
@media (min-width: 768px){
    .mobile{
        display: none;
    }
    .section1{
        height: 50vw;
        margin-top: 0px;
        background-image: url('../images/section-1-bg-desktop.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        align-items: flex-start;
        justify-content:center;
        padding-left: 30px;
    }
    .section1 h2{
        font-size: 36px;
    }

    .section1 h4, .section1 button, .section1 a{
        font-size: 20px;
    }

    .sec2-container, .sec4-container{
        flex-direction: row;
        padding-left: 60px;
        padding-right: 60px;
    }

    .section-card{
        flex-direction: column;
        width: 25vw;
    }

    .number-area{
        margin-bottom: 25px;
    }
    .text-area h3{
        font-weight: 600;
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .text-area h3,h4{
        text-align: center;
    }
    .section3 button{
        width: 8vw;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .drink-card{
        display: flex;
        flex-wrap: nowrap;
        padding: 40px;
    }

    .drink-card .drink-image{
        width:30%;
    }

    .drink-card .drink-desc{
        width: 30%;
    }

    .drink-desc h2, .drink-desc h3{
        text-align: left;
    }
    .drink-desc h2{
        margin-left: 10px;
    }

    .section3 .button-container{
        display: flex;
        justify-content: center;
        gap: 0px;
    }

    .section4{
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .section4>h3{
        padding-left: 25vw;
        padding-right: 25vw;
        line-height: 30px;
        font-size: 18px;
    }

    .section5>h2 {
        font-size: 28px;
    }
    .section5>h3 {
        font-size: 16px;
        padding-left: 27vw;
        padding-right: 27vw;
        font-weight: 500;
    }

    .section5 .card-container{
        justify-content: flex-start;
        gap: 0;
    }

    .section5-card{
        flex-direction: row;
    }

    .section5-card .card-head{
        width: 20vw;
        padding-top: 20px;
        padding-left: 20px;
    }
    .card-head>h3{
        text-align: left;
        font-size: 24px;
    }
    .card-head>h4{
        text-align: left;
    }

    .section5-card .card-item{
        width: 30vw;
    }
    .card5-desc>h4{
        text-align: left;
        font-size: 16px;
        line-height: 22px;
    }

    .section6{
        padding: 30px;
    }

    .section6 img{
        margin-bottom: 20px;
        width: 15vw;
    }

    .section7>h2, .section7>h3{
        margin-left: 15vw;
        margin-right: 30vw;
    }

    .section7 h3{
        font-size: 15px;
        line-height: 22px;
    }

    .section7-container{
        padding-left: 30px;
        padding-right: 30px;
    }

    .questions-container{
        flex-direction: row;
        gap: 35px;
    }

    .question-container{
        width: 50%
    }

    .desktop-links{
        display: flex;
        flex-direction: row;
        padding-top: 30px;
        padding-left: 20px;
    }

    .container{
        display: flex;
        flex-direction: column;
        width: 18%;
        padding: 20px;
        padding-bottom: 30px;
    }

    .container h2{
        font-size: 18px;
        font-weight: 500;
    }

    .container a{
        margin-top: 30px;
        line-height: 22px;
        color: #999;
    }
    .container a:hover{
        color: #000;
        cursor: pointer;
    }

    .text-area h4{
        font-size: 16px;
        line-height: 22px;
    }

    .inner-container{
        padding-bottom: 40px;
    }

    .starbucks-rewards{
        height: 50px;
    }
    .starbucks-rewards button{
        display: none;
    }
    
    .logo-div{
        height: 15vh;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }
    
    .navigation-item{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
        margin-left: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .nav-active{
        border-bottom: 5px  solid green;
    }

    .navigation-item a{
        font-weight: 700;
        font-size: 14px;
    }

    .navigation-item a:hover{
        color:green;
        cursor: pointer;
    }

    header.desktop{
        height: 15vh;
        display: flex;
        align-items: center;
    }
    .left {
        display: flex;
    }
    .desktop img{
        display: inline;
        height: 50px;
        border-radius: 50%;
        margin-left: 30px;
    }
    .right{
        display: flex;
    }

    .right button{
        padding: 8px 16px;
        border-radius: 20px;
        font-size: 14px;
        font-weight: bold;
    }

    .signin-navbar{
        border: 1px solid black;
        margin-left: 40px;
    }

    .signin-navbar:hover{
        background-color: #d6d6d6;
    }

    .join-navbar{
        color:#fff;
        background-color: #000;
        margin-left:20px;
        margin-right: 30px;
    }
    .join-navbar:hover{
        background-color: #444;
    }

    .find a{
        font-weight: bold;
    }
    .find:hover{
        color: green;
        cursor: pointer;
    }
}